@font-face {
  font-family: 'Ashar';
  src: url('./app/assets/fonts/Ashar.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  font-family: 'Ashar';
  line-height: 1;
  font-size: 15px;

  background-color: var(--light-1);

  --light-0: #f6f2f6;
  --light-1: #e1d5d9;
  --light-2: #b7a7ae;
  --light-3: #58545b;
  --light-4: #1c252c;
  --middle-3: #767d8897;
  --red: #e45545;
  --green: #6d972e;
  --blue: #0353a4;

  @media screen and (width < 800px) {
    font-size: 13px;
  }
  @media screen and (width < 500px) {
    font-size: 10px;
  }
}
.app {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background-image: url('./app/assets/images/back.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  color: inherit;
  width: 100%;
}
