.dialogue {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 70%;
  background-color: var(--light-0);
  border: 1px solid var(--light-4);
  border-radius: 3px;
  flex-grow: 3;
  padding: 1%;
  font-size: 1.4rem;
  @media screen and (width < 700px) {
    font-size: 1rem;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5%;
    padding: 0 20%;
    min-height: 35px;
    border-bottom: 1px solid var(--light-4);
    margin-bottom: 1%;
  }
  &__form {
    display: flex;
    align-items: center;
    min-height: 45px;
    border-top: 1px solid var(--light-4);
    margin-top: 1%;
  }
  &__input {
    height: 30px;
    flex-grow: 1;
    border-radius: 3px;
    border: 1px solid var(--light-4);
    padding: 1% 30px 1% 10px;
    width: 70%;
  }
  &__status {
    &-offline {
      color: var(--red);
    }
    &-online {
      color: var(--green);
    }
  }
  &__content {
    min-height: 85%;
    // display: grid;
    // grid-auto-flow: row;
    // grid-gap: 10px;
    // align-content: start;
    display: flex;
    flex-direction: column-reverse;
    overflow-y: scroll;
    gap: 10px;
    scrollbar-width: thin;
    padding: 1%;
  }
  &__cover {
    position: relative;
    width: 100%;
    height: auto;
  }
  &__fill {
    margin: auto 0;
    display: flex;
    justify-content: center;
  }
  &__cancel {
    align-items: center;
    border: 1px solid;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    font-size: 0.6rem;
    height: 14px;
    justify-content: center;
    position: relative;
    right: 24px;
    width: 14px;
    cursor: pointer;
  }
  &__message-to,
  &__message-from {
    width: 60%;
    padding: 0 1%;
    background-color: var(--light-1);
    border-radius: 3px;
  }
  &__message-to {
    cursor: pointer;
  }
  &__message {
    &-from {
      margin-right: auto;
    }
    &-to {
      margin-left: auto;
    }
  }
  &__msg-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1% 2%;
  }
  &__text {
    padding: 4% 2%;
    word-wrap: break-word;
    background-color: var(--light-0);
    border-radius: 3px;
    overflow: hidden;
    max-width: 28rem;
    @media screen and (width < 600px) {
      max-width: 20rem;
    }
  }
  &__msg-status {
    display: flex;
    padding: 1% 2%;
  }
  &__history {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    &::before {
      border-bottom: 1px solid var(--light-4);
      content: ' ';
      left: 0;
      position: absolute;
      top: 18px;
      width: 100%;
    }
    &-text {
      background: var(--light-0);
      max-width: 200px;
      margin: 1%;
      padding: 0 5%;
      position: relative;
    }
  }
  &__name {
    white-space: nowrap;
    overflow: hidden;
  }
}
