.list {
  height: 100%;
  background-color: var(--light-0);
  border: 1px solid var(--light-4);
  border-radius: 3px;
  width: 25%;
  font-size: 1.4rem;
  padding: 1%;
  position: relative;
  @media screen and (width < 700px) {
    font-size: 0.8rem;
  }

  &__search {
    padding: 5px;
    border-radius: 3px;
    width: 100%;
    height: 30px;
    border: 1px solid var(--light-4);
    margin-bottom: 2%;
  }

  &__users {
    border-top: 1px solid var(--light-4);
    padding-top: 1%;
    height: 94%;
    overflow-y: scroll;
    scrollbar-width: thin;
  }

  &__count {
    border-radius: 50%;
    border: 1px solid var(--green);
    padding: 1px 7px;
    position: absolute;
    right: 12%;
    @media screen and (width < 700px) {
      padding: 1px 3px;
      right: 20%;
      font-size: 1rem;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    padding: 2%;
    border: solid 1px var(--light-0);

    &:hover {
      cursor: pointer;
      background-color: var(--light-1);
      border: solid 1px var(--light-4);
      border-radius: 3px;
    }
  }

  &__name {
    max-width: 70%;
    overflow: hidden;
    @media screen and (width < 700px) {
      max-width: 60%;
    }
    @media screen and (width < 500px) {
      max-width: 50%;
    }
  }

  &__status {
    &-offline,
    &-online {
      border: 1px solid var(--light-4);
      border-radius: 50%;
      box-sizing: border-box;
      height: 10px;
      margin: 0 4% 0 0;
      width: 10px;
    }

    &-offline {
      background-color: var(--red);
    }
    &-online {
      background-color: var(--green);
    }
  }
}
