.footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--light-4);
  background-color: var(--light-0);
  font-size: 1.5rem;
  padding: 0 12%;
  border-radius: 3px;
  min-height: 52px;

  &__item {
    max-width: 70px;
    user-select: none;
  }
}
