.chat {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 7px;
  max-width: 1050px;
  width: 100vw;
  padding: 1%;

  &__main {
    height: 600px;
    width: 100%;
    display: flex;
    gap: 7px;
  }
}
